.home-page {
    display: flex;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    

    .planners-container {
        width: 60%;
        margin-bottom: 60px;

        
        .planner-card {
            margin-top: 20px;
            padding-bottom: 16px;
            border: 1px solid #DDDDDD;

            h2 {
                text-align: center;
            }

            img {
                width: 100%;
                height: auto;
            }
            p {
                margin-left: 6px;

                span {
                    font-weight: bold;
                }
            }
        }
    }

    .search-half {
        width: 400px;
        max-width: 40%;
        padding-left: 20px;
        position: fixed;
        left: 58%;

        .search-container {
            width: auto;

            h2 {
                text-align: center;
            }

            form {
                min-width: 100px;
                width: 80%;
                margin: 0 auto;
                padding: 15px;
                display: flex;
                flex-flow: column;
                background: #F2F2F2;
                box-shadow: 1px 2px 5px 1px lightgray;

                label {
                    font-weight: bold;
                    margin-bottom: 5px;
                }

                input {
                    margin-bottom: 20px;
                    padding: 5px 0;
                }

                button {

                }
            }
        }
    }
}
