.dashBoard-container{

    ///////////////////Header Start ...........
    .dashBoard-header{
        background:#0A235C;
        padding:10px;
        color:white;
    }
    
    .dashBoard-header nav{
        display:flex;
        justify-content: space-between;

        .add-link{
            color:white;
            text-decoration:none;
            &:hover{
                color:#DDDDDD
            }
        }
    }
    
    /////////////////// Dashboard Header End ............



    ///////////////////Dashboard Events Start ...........
    .event-card-container{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .event-card{
        width:400px;
        margin:10px;
        border: 1px solid #DDDDDD;
        background:white;
        h2{
            text-align:center;
        }
    
        img{
            width:100%;
        }
        p{
            margin-left: 6px;
    
            span {
                font-weight: bold;
            }
        }
    
        .event-actions{
            display:flex;
            justify-content: space-around;
            margin-bottom:10px;
    
            button{
                background:none;
                border:none;
                &:hover{
                    color:#DDDDDD
                }
            }
    
            .put-link{
                text-decoration:none;
                &:hover{
                    color:#DDDDDD
                }
            }
        }
    }
}









///////////////////Dashboard Events End ...........


///////////////////POST Component Start ...........

.add-form-container{
    width:350px;
    margin:0 auto;
}



.add-input-container{
    text-align:center;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
}

.add-input-container input{
   width:50%;
   border:1px solid black;
   padding:10px 2px;
   margin:5px 0px;
   border-radius:10px;
}

.submit{
    text-align:right;
}




///////////////////Post Component end ...........



.update-form{
    background:red;
}