.dashBoard-container{

    ///////////////////Header Start ...........
    .dashBoard-header{
        background:#0A235C;
        padding:10px;
        color:white;
    }
    
    .dashBoard-header nav{
        width: 80%;
        margin: 0 auto;
        display:flex;
        justify-content: space-between;

        .add-link{
            color:white;
            text-decoration:none;
            &:hover{
                color:#DDDDDD
            }
        }
    }
    
    /////////////////// Dashboard Header End ............



    ///////////////////Dashboard Events Start ...........
    .event-card-container{
        margin: 0 auto;
        width: 80%;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .event-card{
        width:400px;
        margin:10px;
        background: white;
        background-image: linear-gradient(to bottom, #f2f2f2 73%, #f5f5f5, #f8f8f8, #fcfcfc, #ffffff);
        box-shadow: 0px 10px 5px -5px lightgray;
        h2 {
            font-family: cinque-donne, cursive;
            text-align: center;
            background: #FFEDEA;
            margin: 0;
            font-size: 2em;
            padding: .18em 0;
            color: #CE918B;
        }
    
        img{
            width: 100%;
            max-height: 250px;
            object-fit: cover;
        }
        p{
            margin-left: 6px;
    
            span {
                font-weight: bold;
            }
        }
    
        .event-actions{
            display:flex;
            justify-content: space-around;
            margin-bottom:10px;
    
            a, button {
                cursor: pointer;
                font-size: 1rem;
                text-decoration: none;
                background: #0A235C;
                border: 2px solid #0A235C;
                color: white;
                border-radius: 3px;
                padding: 5px 16px;
                margin: 7px 0 10px;
                &:hover{
                    color: #0A235C;
                    background: white;
                    transition: background 0.3s ease-in-out;
                }
            }
        }
    }
}









///////////////////Dashboard Events End ...........


///////////////////POST Component Start ...........

.add-form-container{
    width: 350px;
    margin: 20px auto;
    background: #F2F2F2;
    background-image: linear-gradient(to bottom, #f2f2f2, #f5f5f5, #f8f8f8, #fcfcfc, #ffffff);
    box-shadow: 1px 2px 5px 1px lightgray;
    padding-top: 15px;
    
    
    h2 {
        text-align: center;
        color: #0A235C;
        margin-bottom: 1rem;
        margin-top: 0
    }
    
    form {
        display: flex;
        flex-flow: column;
        justify-content: center;


        label {
            font-weight: bold;
            margin-bottom: 5px;
            margin-left: 10px;

        }

        input {
            width: 90%;
            height: 36px;
            margin-left: 10px;
            margin-bottom: 15px;
            padding: 9px 0 7px 8px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            &:focus{outline: none; border: 1px solid #93a6d1}
            &::-webkit-inner-spin-button{display: none;}
        }

        .photo-select {
            width: 90%;
            display: flex;

            select {
                margin-left: 25px;
                flex-grow: 1;
                border-radius: 5px;
                border: 1px solid #dddddd;

            }
        }

        .form-buttons {
            button {
                cursor: pointer;
                background: #0A235C;
                color: white;
                border: none;
                font-weight: bold;
                width: 60%;
                height: 40px;
                padding: 9px 0 7px 8px;
                margin: 10px auto;
                border-radius: 3px;
            }
        }
    }
}



///////////////////Post Component end ...........



.update-form{
    background:red;
}