.login {
	max-width: 3500px;
	width: 100%;
	height: 90vh;
	margin: 0 auto;
	display: flex;
	justify-content: center;
    align-items: center;
    

    div {
        width: 350px;
        height: 380px;
        background: white;
        border: 1px solid #dddddd;
        border-radius: 5px;
        padding: 10px 1px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h1 {
            margin: 0;
            margin-top: 10px;
        }

        img {
            width: 100px;
            height: auto;
            margin-top: 5%;
        }
        
        // h2 {
        // 	margin: 0;
        // 	margin-bottom: 5%;
        
        // 	// ${props => {
        // 	// 	if(props.typing !== "") {return css`color: #4664F5;`;}
        //     //     else {return css`color: lightblue;`;}
        // 	// }}
        
        // }
        
        .error {
            margin: 0;
            margin-bottom: 10px;
            padding: 0;
            font-size: 0.9rem;
            color: red;
            
            // ${props => {
            //     if(props.error) {return css`opacity: 1;  transition: opacity 0.5s linear;`;}
            //     else {return css`opacity: 0;  transition: none;`;}
            // }}
        
        }
        
         form {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 45%;
            margin-bottom: 5%;
            input {
                width: 258px;
                height: 36px;
                padding: 9px 0 7px 8px;
                border: 1px solid #dddddd;
                border-radius: 5px;
            }
            
            button {
                cursor: default;
                background: lightblue;
                color: white;
                border: none;
                font-weight: bold;
                width: 258px;
                height: 30px;
                padding: 9px 0 7px 8px;
                margin-top: 10px;
                border-radius: 5px;
                
                &.clickable {cursor: pointer;  background: #4664F5;}

            
            }
        }
        
        
        p {
            margin: 0;
            padding: 1%;
            color: lightblue;
            font-weight: bold;
            &:hover {
                cursor: pointer;
                color: #4664F5;
            }
        }
    }
}
