.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.spacer {
  height: 85px;
}

.wallpaper {
  z-index: -2;
  position: fixed;
  height: 100vh;
  width: 100%;
  background: white;
  background-image: url("./utils/bg_wallpaper.png");
  opacity: 0.45;
}

.white {
  z-index: -1;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  width: 90%;
  background: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
