.navbar-container {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    height: 85px;
    width: 100%;
    padding: 0 50px;
    background: #F2F2F2;
    background-image: linear-gradient(to bottom, #f2f2f2, #f5f5f5, #f8f8f8, #fcfcfc, #ffffff);
    box-shadow: 1px 2px 5px 1px lightgray;
    
    .navbar {
        margin: 0 auto;
        padding-left: 4%;
        width: 85%;
        // max-width: 800px;
        display: flex;
        align-items: center;

        div {
            flex-grow: 1;

            img {
                width: 80px;
                height: auto;
            }
        }

        a {
            display: block;
            text-decoration: none;
            text-align: center;
            font-size: 1.125rem;
            padding: 5px;
            margin: 5px;
            margin-left: 50px;
            color: #0A235C;
            font-weight: 700;
        }
    }
}


.nothing{
    color: #c2ebe6
}